.title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 400%;
  display: inline-block;
  margin-top: 20px;
  line-height: 0.8;
}

h1, h2, h3, h4, h5, h6, ul {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.emoji {
  width: 3.5em;
  height: 3.5em;
  display: inline-block;
  margin-bottom: 2.4em;
}

/* Use the following properties to fix the search icon sizing */
.btn-lg, .btn-group-lg > .btn {
  line-height: 1.34;
}