.title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6, ul {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.emoji {
  width: 3em;
  height: 3em;
  display: inline-block;
  margin-bottom: 2em;
}
