.title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 400%;
  display: inline-block;
  margin-top: 30px;
  line-height: 0.8;
  color: #c7a45f;
}

.title:hover {
  color: #ac8443;
}

h1, h2, h3, h4, h5, h6, ul, input {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.welcome {
  text-align: center;
  font-size: 150%;
  margin-top: 20px;
}

.emoji {
  width: 3.5em;
  height: 3.5em;
  display: inline-block;
  margin-bottom: 2.4em;
}

/* Use the following properties to fix the search icon sizing */
.btn-lg, .btn-group-lg > .btn {
  line-height: 1.34;
}